*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #bbb8b5;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    background-color: #1C1C1C;
    background-image: url("../img/mirrored-squares.png");
}
.cards {
    gap: 8rem;
    display:flex;
}
.main-container{
    background-color: #333;
    background-image: url("../img/classy-fabric.png");
    margin:5rem;
    box-shadow: 0.5rem 0.1rem 1.5rem 1rem rgb(17 17 17 / 50%);
    position:relative;
    min-width: 100rem;
}


.main-container::after {
    content: '';
    width: 0.8rem;
    height: 6rem;
    background-color: #ed0b0e;
    position: absolute;
    right: 1rem;
    transform: rotate(125deg);
    top: -1.8rem;
}

input {
    background-color: #252527;
    font-size:1.6rem;
    border: 4px solid #6d625c;
}

.master-card {
    margin: 5rem;
    margin-top:12.6rem;
    min-width:27rem;
    border: 2px  solid #ed0b0e;
    border-radius: 8px;
    box-shadow : 0 0.8rem 1.5rem 0 rgb(187 184 181 / 50%);
    background-color: #252527;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: dark;
    transform: perspective(1000px) translate3d(0px, -66px, 198px) rotateY(30deg) scale3d(0.9, 0.8, 1) translateY(80px);
    transition: 0.5s;
}

.master-card:hover  {
    transform: scale(1);
    transition: 0.5s;
}

.master-detail {
    width: 80%;
    margin: 5rem;
    border: 6px  solid #ed0b0e;
    border-radius: 8px;
}
.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plus {
  border: none;
  font-size: 3.8rem;
  background-color: transparent;

}
#plus:hover {
    cursor:pointer;
}

h1 {
    font-size: 2.2rem;
    margin: 5rem;
    margin-left:auto;
}

.exporters-master {
    padding: 1rem;
}

.container-items {
    display: grid;
    grid-template-columns: auto 1.7rem;
    margin-bottom: 1rem;
    column-gap: 0.8rem;
}

input:hover {
    border: 4px solid #ed0b0e;
}

.detail-card{
    min-width:55rem;
    width:auto;
}

label {
    font-size: 1.8rem;
    margin: 2rem;
    margin-left:auto;
}
.info-container{
    display:flex;
    margin:3rem;
    font-size:1.2rem;
    margin-left: auto;
}
.detail-container{
    width:35%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.5rem;
    margin: 2rem 2rem 2rem 0rem;
    box-shadow: 0 0.8rem 1.5rem 0 rgb(187 184 181 / 50%);
    padding: 1rem;
}
.address-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.5rem;
    margin: 2rem 2rem 2rem 0rem;
    box-shadow: 0 0.8rem 1.5rem 0 rgb(187 184 181 / 50%);
    padding: 1rem;
}
#detailContainer{
    align-items: flex-start;
}
.canvas-container{
    margin-top:3rem;
    width:375px;
}

.selected {
    border: 4px solid #ed0b0e;
}
.unselected  {
    border: 4px solid #6d625c;
}

.delete {
    color:  #ed0b0e;
    font-size: 1.4rem;
    font-weight: 800;
    background-color:  #bbb8b5;
    border: 0px;
}